[*.cs]

# CA1303: Literale nicht als lokalisierte Parameter übergeben
dotnet_diagnostic.CA1303.severity = none

# CA1305: IFormatProvider angeben
dotnet_diagnostic.CA1305.severity = silent

# CA1031: Keine allgemeinen Ausnahmetypen abfangen
dotnet_diagnostic.CA1031.severity = suggestion

# CA1707: Bezeichner dürfen keine Unterstriche enthalten
dotnet_diagnostic.CA1707.severity = suggestion
