<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="INIFILE" value="Settings.ini"/>
		<add key ="OBJECTFILE" value="NAV_Objects.csv"/>
		<add key ="DEFAULT_INSTANCE" value=":7046/DynamicsNAV110"/>
		<add key ="LOGFILE" value="Log.log"/>
		<add key ="DEFAULT_GITHUB_USER" value="wallmi"/>
		<add key ="DEFAULT_GITHUB_REP" value="start-dynamics-nav"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>